# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# Build / cache
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
